# system file (macOS-X, Windows)
.DS_Store
Thumbs.db
# compilation + python cache
**/__pycache__
**/*.pyc
output
runApp.build
runApp.dist
runApp.onefile-build
# developement elements
dev
gotimeEnv
src/usefulElements/CTkMessagebox
# results
gotime-linux
gotime-*.exe
gotime-*.zip