# fichier système macOS-X, Windows
.DS_Store
Thumbs.db
# compilation + cache de python
src/__pycache__
output
runApp.build
runApp.dist
runApp.onefile-build
# dossier contenant des éléments de développement
dev
# dossier d'environnement python au cas où
gotimeEnv
# fichier contenant les screenshots de l'appli
screenshots/